<aside class="absolute top-4 right-4">
    <button 
        (click)="onFavouriteClick()">

        <div *ngIf="!loading; else showLoader">
            <span *ngIf="isFavourite; then favourite else notFavourite"></span>

            <ng-template #favourite>
                <p class="border bg-red-700 rounded flex justify-center items-center p-2 text-yellow-300">Collected</p>
                
            </ng-template>
            
            <ng-template #notFavourite>
                <p class="border bg-black rounded flex justify-center items-center p-2 text-yellow-300">Collect</p>
            </ng-template>
        </div>

        <ng-template #showLoader>
            <span>...Loading</span>
        </ng-template>
    </button>
</aside>
